

#views_slideshow_cycle_main_product_line_card-block .views-row-even,
#views_slideshow_cycle_main_product_line_card-block .views-row-odd {
  position: relative;

  margin:auto;
  display:inline-block;
  text-align:center;
}
.views_slideshow_cycle_main {
  text-align:center;
  width: 100%;
  display:inline-block;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  height: auto;
}
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: 100%;
}
.views_slideshow_cycle_main .field-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  //border: 1px white solid;
}