
%flash-base {
  display: block;
  font-weight: bold;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
}

$flashes: (alert $flash-yellow, error $flash-red, notice lighten($base-accent-color, 40), success $flash-green);

@each $elem in $flashes {

  $flash : nth($elem, 1);
  $color: nth($elem, 2);

  .flash-#{$flash} {
    @extend %flash-base;
    background: $color;
    color: darken($color, 60);

    a {
      color: darken($color, 70);
      border-bottom: 1px solid transparentize(darken($color, 70), .7);

      &:hover {
        color: darken($color, 90);
      }
    }
  }
}
