%alert
  padding: 1em .5em
  border: 1px solid #e4e4e4
  border-radius: 0

  >a.close
    float: right
    padding: 1px 8px
    background-color: transparent
    color: #545454
    font-size: 1.3em

.alert
  @extend %alert
  +position(absolute, 70px 120px auto 120px)
  z-index: 10



.alert-success
  background-color: $success-color
.alert-danger
  background: $error-color