.pane-kiosk-penultimate-attraction-arrows, .pane-kiosk-last-attraction-arrows
  position: fixed
  z-index: 10
  left: 20px
  margin: auto
  right: 20px
  background: red
  top: calc(50% - 150px)
  //top: 25%

.attraction-arrows
  span.prev a
    position: absolute
    left: 55px
    @extend %arrow
    &:after
      left: -25px
      content: '\f053'

  span.next a
    position: absolute
    right: 170px
    @extend %arrow
    &:after
      right: -25px
      content: '\f054'