/* ==|====================
   Module/Button
   ======================= */

.btn 
    //@include filter-gradient(#f9f9f9, #e9e9e9) // IE6-8
    @include background-image(linear-gradient(#f9f9f9, #e9e9e9))
    @include border-radius(2px)
    @include inline-block()
    padding: .2em .7em
    border: solid 1px #cacaca
    color: #787878
    box-shadow: 0 2px 1px rgba(#000, .15)
    text-shadow: 0 -1px 1px rgba(#fff, .75)
    text-align: center
    vertical-align: middle
    cursor: pointer

    &:hover 
        background: #f3f3f3
    
    &:active 
        box-shadow: inset 0 1px 2px rgba(#000, .2)
    


@mixin btn($color) 
    @extend .btn
    //@include filter-gradient($color, darken($color, 10%)) // IE6-8
    @include background-image(linear-gradient($color, darken($color, 10%)))
    color: #fff
    border-color: darken($color, 10%)
    text-shadow: 0 1px 1px rgba(#000, 0.1)

    &:hover 
        background: darken($color1, 10%)
    


.btn-color1 
    @include btn($color1)

.btn-color2 
    @include btn($color2)
