.business-info
  +position(fixed, 120px 260px 180px 260px)

  .row-1 .frame
    background: rgba(black, .8)
    +position(fixed, 120px auto 180px 260px)
    width: 665px
    border-radius: 8px
    padding: 20px
    display: flex
    align-content: center
    justify-content: center
    align-items: center
    img
      max-width: 600px
      max-height: 500px
      height: auto


  .row-2
    background: rgba(black, .8)
    +position(fixed, 120px 260px 180px auto)
    width: 700px
    border-radius: 8px
    padding: 20px 55px 40px 30px
    .title
      color: $color_red
      font-size: 2.2em
      font-weight: 600
    .description
      color: #ffffff
      +position(fixed, 190px 290px 220px auto)
      width: 635px
      margin-top: 15px
      font-size: 1.4em
      font-weight: 300
      line-height: 1.3em
      overflow-y: auto
