.caption
  position: fixed
  padding: 10px 20px
  background: rgba(black, .7)
  border-radius: 5px
  z-index: 50
  width: 840px
  box-shadow: 0 0 1px 1px #000000
  display: block
  align-items: center
  justify-content: flex-start
  text-align: left
  min-height: 120px
  top: 120px
  left: 120px

  color: #ffffff

  &.Right
    right: 120px
    left: auto

  &.Left
    left: 120px

  &.Upper
    top: 120px

  &.Lower
    bottom: 180px
    top: auto

.caption-title
  color: $color_red
  display: block
  font-size: 1.4em
  text-transform: uppercase
  font-weight: 500

.caption-text
  display: block
  font-weight: 300
  max-height: 460px
  overflow-y: auto

.page-node-info
  .caption
    width: 700px
    height: auto
    padding: 10px 30px
    border-radius: 8px

    &.Right
      right: 260px

    &.Left
      left: 260px

    &.Upper
      bottom: 180px

    &.Lower
      top: 180px

  .caption-title
    font-size: 2.1em
    margin-top: 10px

  .caption-text
    padding-top: 10px
    font-size: 1.5em
    font-weight: 300
    max-height: 86%
    height: 100%
    position: relative


.pane-panels-mini.pane-attractions-list
  position: absolute
  z-index: 5
  //background: rgba(lightcoral, .6)
  top: 0
  bottom: 0
  left: 0
  right: 0

  >.pane-content
    background: rgba(black, .8)
    border-radius: 10px
    position: fixed
    top: auto
    height: 580px
    bottom: 180px
    left: 470px
    right: 470px
    //overflow: hidden
    //margin: 2em 0
    #mini-panel-attractions_list
      height: 100%
      >.panel-col
        height: 100%
    >div
      //background: #008000
      //margin: 2em 0
      //overflow: auto
      //position: absolute
    .pane-penultimate-attractions-list-panel-pane-2
      .views-field-title
        //background: red
        height: 80px
        line-height: 80px
        margin-left: 100px
        text-transform: uppercase
        font-size: 2.3em
        font-weight: 500
        color: $color_red

    .pane-penultimate-attractions-list-panel-pane-1
      margin-left: 80px
      margin-top: 10px
      margin-right: 20px
      height: 460px
      overflow-y: auto
      overflow-x: hidden
      //background: red

      .views-row
        margin: 1em 0
        //padding: 1em 0
      .views-field-title
        //background: green
        padding-left: 25px
        font-size: 1.5em
        font-weight: 300
        +myfont($fa-var-chevron-right, $color: $color_red, $size: 18px, $left: -4px)
        &:before, &:after
          font-family: FontAwesome
        a
          color: $color_red
          text-decoration: none
          &:hover
            color: darken($color_red, 10)



      .views-field-field-summary
        //background: #00ff00
        margin-left: 48px
        margin-right: 60px
        color: #ffffff
        font-weight: 300
        font-size: 1.2em
