$gutter: 1em
@import "../0-plugins/neat/neat"
#block-kiosk-kiosk-font-sizer
  position: static

.font-sizer
  position: absolute
  z-index: 10
  top: 0
  right: 120px
  background: #ffffff
  height: 60px
  width: 175px
  border-radius: 0 0 5px 5px
  padding: 19px 5px
  box-shadow: 0 0 18px 3px lighten($dark-gray, 10)
  +outer-container
  span
    margin: 0
    padding: 0
    +span-columns(4)
    height: 26px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    background: none

    &.active
      color: $color_red

    &.font-size-1
      font-size: 18px

    &.font-size-2
      font-size: 18px
      border-right: 1px dashed #545454
      border-left: 1px dashed #545454

    &.font-size-3
      font-size: 26px