.page-node-fotos
  .views-slideshow-pager-fields.widget_pager_top
    background: none
    +position(fixed, auto 120px 130px 120px)
    text-align: center

    .views-slideshow-pager-field-item
      display: inline-block
      margin: 0 10px

      .views-content-nid
        background: lighten($color_link, 20)
        font-size: 0
        +size(40px)
        border-radius: 10%
        cursor: pointer
        box-shadow: 0 0 3px 1px rgba(darken($color_link, 60), .6)

      &.active
        .views-content-nid
          background: $color_link
          padding: 0 10px

  a[href$=fotos]
    .counter
      display: inline-block
      margin-left: 25px