$gutter: 3em
@import "../0-plugins/neat/neat"

.attraction-info
  .expander


.attraction-info
  +position(fixed, auto 260px 180px auto)
  background: rgba(black, .8)
  z-index: 50
  width: 700px
  height: 605px
  border-radius: 6px
  padding: 20px 30px

  .attraction-info-inner
    position: relative
    height: 100%

  .attraction-title
    background: none
    color: $color_red
    text-transform: uppercase
    font-size: 1.5em
    font-weight: 500
    position: relative

    .expander
      +myfont($fa-var-chevron-down, $color: $color_breadcrumbs)
      +position(absolute, auto 0 auto auto)
      cursor: pointer
      &:after, &:before
        font-family: FontAwesome

  .scrollable-content
    background: none
    color: #ffffff
    padding: 20px 0
    overflow-y: auto
    font-size: 1.2em
    font-weight: 300
    +position(absolute, 50px 0 90px 0)

    ._row
      padding: 15px 0
      +span-columns(12)
      &:not(:last-child)
        border-bottom: 1px dashed #808080
      .cols-1
        +span-columns(12)
        margin-bottom: 15px
        line-height: 1.6em
        span.icon
          display: block
          font-size: 28px
          +span-columns(.7 of 12)
        span:not(.icon)
          font-size: 1em
          +span-columns(11.1 of 12)
          +shift(0)
          +omega()
          float: right
          word-wrap: break-word

        &.coordinates span:not(.icon)
          white-space: pre
      .cols-2
        margin-bottom: 15px
        +span-columns(6)
        +omega(2n)
        line-height: 1.3em

        span.icon
          display: block
          font-size: 28px
          +span-columns(.5 of 6)
        span:not(.icon)
          font-size: 1em
          +span-columns(5.1 of 6)
          +omega()
          float: right
          word-wrap: break-word
        &.coordinates span:not(.icon)
          white-space: pre

  .attraction-directions
    background: none
    +position(absolute, auto 0 0 0)
    .directions-info
      +outer-container

      .mode
        +span-columns(6)
        height: 70px
        .inner
          border: 1px dashed #808080
          padding: 5px
          text-align: center
          border-radius: 4px
          height: 60px
          width: 290px
          a
            color: #ffffff
            text-decoration: none
            line-height: 50px
            font-size: 1.1em
            i
              padding-right: 15px
            span.separator
              padding: 0 5px

            &.selected
              color: $color_link


.attraction-info.collapsed
  .expander
    +myfont($fa-var-chevron-up, $color: $color_breadcrumbs)
    +position(absolute, auto 0 auto auto)
    cursor: pointer
    &:after, &:before
      font-family: FontAwesome

  height: 165px

  .scrollable-content
    display: none

