@for $i from 1 through 12
  .crumbs-#{$i}
    ul.crumbs-list
      +outer-container
      width: auto
      li
        //+span-columns(12/$i)
        height: 60px
        padding: 0 15px
        float: left
        display: flex
        text-align: center
        align-items: center
        justify-content: center
        line-height: 20px





#block-kiosk-kiosk-breadcrumbs
  position: absolute
  z-index: 20
  top: 0px
  height: 60px
  left: 120px
  min-width: 200px
  background: #ffffff
  border-radius: 0 0 4px 4px
  border-color: #E4E4E4
  box-shadow: 0 0 8px 2px #545454

.kiosk-breadcrumbs
   .inner
    height: 60px

    .logo
      background: none
      display: inline-block
      width: 60px
      height: 60px
      padding: 4px 5px
      float: left

      img
        width: 50px
        height: auto
        padding: 2px
        border-radius: 6px

    .list-items
      margin-left: 61px
      a
        text-transform: uppercase
        font-size: 1.3em
        padding-top: 4px
        padding-left: 13px
        color: #000000
        text-decoration: none
        font-weight: 300
        +myfont($fa-var-chevron-right, $color: $color_breadcrumbs, $top: -1px, $size: .7em, $left: -14px)

        &:before
          font-family: FontAwesome
