body.page-node-kaart
  +position(absolute, 0 0 0 0)

.pane-kiosk-attraction-map, .pane-kiosk-google-map
  +position(absolute, 0 0 0 0)
  .pane-content
    +position(fixed, 0 0 0 0)
  iframe
    position: relative
    top: -110px
    left: -50px