.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail
  width: 1px
  border-left: 1px dashed #808080
  background: none
.mCustomScrollbar
  opacity: 1

  .mCSB_scrollTools
    opacity: 1

    .mCSB_dragger
      //height: 55px

      .mCSB_dragger_bar
        background: rgba($color_red, 1)
        width: 10px

  a[class*=mCSB_button]
    opacity: 1

    &:hover
      opacity: 1