ul.nav-tabs
  background: #ffffff
  border: none
  padding: 6px
  position: fixed
  top: 30px
  z-index: 50
  width: 150px
  +transform(translate(-150px, 0px))
  +transition(transform .5s ease-out)

  &:after
    font-family: FontAwesome
    content: "\f0c9"
    text-align: center
    padding-top: 4px
    position: absolute
    display: inline-block
    font-size: 16px
    +size(32px)
    background: red
    +background-image(linear-gradient(white, whitesmoke))
    padding-left: 1px
    border: 1px solid gray
    border-radius: 3px
    top: 0px
    left: 150px


  &:hover
    +transform(translate(0, 0))
    left: 0

  li
    background: white
    border: none
    +span-columns(12)
    &.active, a, a.active, &:hover, a:hover, a.active:hover
      border: none
      background: whitesmoke

