
.attraction-nav
  position: fixed
  bottom: 0
  z-index: 10
  left: 120px
  height: 120px
  border-radius: 8px 8px 0 0
  background: #ffffff
  display: block
  width: auto
  right: 430px
  box-shadow: 0 0 18px 3px lighten($dark-gray, 10)
  .view-content, ul:not(.contextual-links)
    a
      display: flex
      align-items: center
      justify-content: center
      padding: 0 20px
      line-height: 25px
      background: none
      margin: 0
      height: 120px
      font-size: 1.5em
      text-transform: uppercase
      text-decoration: none
      color: #000000
      position: relative
      text-align: center

      &.active,&.current
        font-weight: 500
        color: red


    & .views-row, li
      a:after
        content: ""
        +size(2px 55px)
        display: inline-block
        border-right: 2px dashed #000000
        position: absolute
        top: 27%
        right: 0

      &:last-child
        a:after
          border: none

      &.active
        font-weight: 500
        color: red


body.child-attraction-node-last
  .views-slideshow-controls-bottom, .attraction-nav
    a.active, a.current
      color: red

.back-nav
  background: white
  border-radius: 8px 8px 0 0
  position: fixed
  bottom: 0
  z-index: 20
  right: 120px
  height: 120px
  width: 280px
  box-shadow: 0 0 18px 3px lighten($dark-gray, 10)
  a
    color: #000000
    display: inline-block
    +size(100%)
    font-size: 1.5em
    text-transform: uppercase
    text-decoration: none
    line-height: 120px
    text-align: center
    +myfont($fa-var-chevron-left, $pad: 10px, $size: .7em, $left: -10px)
    &:before, &:after
      font-family: FontAwesome
      color: #69d4dc


