$gutter: 0em
@import "../0-plugins/neat/neat"
.pane-resto-be-panel-resto
  +position(fixed, 0 0 0 0)
  background: $color_red_dark

.resto-view.panel-resto
  background: lightcoral
  +outer-container

  .view-filters
    +span-columns(4)
    +position(fixed, 120px auto 180px 310px)
    background: rgba(black, 0.8)
    width: 280px
    border-radius: 6px
    padding: 20px 15px 5px 15px
    overflow-y: auto

    .views-exposed-widget:not(.views-submit-button)
      +span-columns(12)
      margin-bottom: 20px
      height: 225px
      padding: 0 2px 0 18px
      label
        color: $color_breadcrumbs
        text-transform: uppercase
        font-size: 1.7em
      .bef-select-as-links>.form-item
        height: 180px
        overflow-y: auto
        .form-item > a
          text-decoration: none
          +myfont($fa-var-chevron-right, $size: .8em)
          font-size: 1.2em
          color: $color_red
          +ellipsis(200px)
          line-height: 20px
      .bef-select-as-links>.form-item
        .form-item.selected > a
          color: lighten($color_red, 25)

  .main
    background: rgba(black, .8)
    +position(fixed, 120px 310px 180px auto)
    width: 980px
    border-radius: 6px
    padding: 20px 30px 20px 100px


    .view-header
      color: $color_red
      font-weight: 600
      font-size: 2.2em
      padding: 0
      margin-bottom: 42px

    .view-content
      background: none
      overflow-y: auto
      height: 85%

    .view-empty
      font-size: 1.3em
    .view-content, .view-empty
      color: #ffffff
      .views-row
        margin-bottom: 15px
        .views-field-title a
          +myfont($fa-var-chevron-right, $size: .8em, $top: -1px, $pad: 15px)
          color: $color_red
          text-decoration: none
          font-size: 1.2em
          font-weight: 300
        .views-field-field-description
          font-weight: 300
          padding-left: 26px
          font-size: 1.2em





