%arrow
  display: inline-block
  font-size: 0
  background: #008000
  &:after
    +size(30px)
    display: inline-block
    background: none
    position: absolute
    top: 0
    right: 0
    font-family: FontAwesome
    font-size: 200px
    color: $color-red
    font-weight: 100

  &:hover:after
    color: darken($color-red, 10)

.attraction-slides
  img
    max-height: 100%

  .views-slideshow-controls-top
    background: none
    position: fixed
    left: 0
    right: 0
    top: 25%
    top: calc(50% - 100px)
    z-index: 10

    .views-slideshow-controls-text-pause
      display: none



    .views-slideshow-controls-text-previous
      position: absolute
      left: 55px
      @extend %arrow
      &:after
        left: 5px
        content: '\f053'

    .views-slideshow-controls-text-next
      position: absolute
      right: 170px
      @extend %arrow
      &:after
        right: 5px
        content: '\f054'

.front .views-slideshow-controls-bottom
  right: 120px
.not-front .views-slideshow-controls-bottom
  right: 430px

.views-slideshow-controls-bottom
  background: #ffffff
  position: fixed
  bottom: 0px
  display: block
  z-index: 10
  width: auto
  left: 120px
  height: 120px
  border-radius: 8px 8px 0 0
  box-shadow: 0 0 18px 3px lighten($dark-gray, 10)

  .views-slideshow-pager-fields
    height: 120px
    text-align: center


    >[class*=views-slideshow-pager], .views-content-title
      height: 120px
      a
        display: flex
        align-items: center
        justify-content: center
        padding: 0 20px
        line-height: 25px
        background: none
        margin: 0
        height: 120px
        font-size: 1.5em
        text-transform: uppercase
        text-decoration: none
        color: #000000
        position: relative

    >[class*=views-slideshow-pager]
      a:after
        content: ""
        +size(2px 55px)
        display: inline-block
        border-right: 2px dashed #000000
        position: absolute
        top: 27%
        right: 0

      &:last-child
        a:after
          border: none

      &.active a
        font-weight: 500
        color: red


.business-fotos
  //+position(fixed, 305px auto auto 625px)
  +position(fixed, 0 0 0 0)
  background: none
  display: flex
  justify-content: center
  align-items: center
  align-content: center


  .view-content
    background: #000000
    width: 670px
    height: 470px
    padding: 35px
    border-radius: 8px

    .views-row
      width: 600px
      height: 400px
      display: flex
      justify-content: center
      align-content: center
      align-items: center


    .views-slideshow-pager-fields.widget_pager_top
      bottom: 180px


    img
      width: auto
      height: auto
      max-width: 600px
      max-height: 400px