
@for $i from 1 through 12
  .view-rows-#{$i}
    .view-content .views-slideshow-controls-bottom >div
      padding: 0 10px
      +outer-container
      .views-slideshow-pager-field-item
        +span-columns(12/$i)


@for $i from 1 through 12
  .attraction-nav.view-rows-#{$i}
      .view-content
        +outer-container
        padding: 0 10px
        .views-row
          +span-columns(12/$i)

@for $i from 1 through 12
  .attraction-nav.nav-items-#{$i}
    ul
      +outer-container
      padding: 0 10px
      li
        +span-columns(12/$i)


.view-attractions-slideshow
  .view-empty
    background: none
    +position(fixed, 0 0 0 0)
    text-align: center

    .inner
      //+position(fixed, 0 0 0 0)
      text-align: center
      height: 100%
      background: none
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: center
      align-content: stretch

      >div
        padding: 5px
        color: #909090
        font-size: 1.5em