/* Extra Light */
@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-ExtraLight.otf')
  font-weight: 200
  font-style: normal

@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-ExtraLightIt.otf')
  font-weight: 200
  font-style: italic


/* Light */
@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-Light.otf')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-LightIt.otf')
  font-weight: 300
  font-style: italic

/* Regular */
@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-Regular.otf')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-It.otf')
  font-weight: 400
  font-style: italic



/* Sermibold */
@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-Semibold.otf')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-SemiboldIt.otf')
  font-weight: 500
  font-style: italic

/* Sermibold */
@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-Semibold.otf')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-SemiboldIt.otf')
  font-weight: 600
  font-style: italic


/* Bold  */
@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-Bold.otf')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-BoldIt.otf')
  font-weight: 700
  font-style: italic


/* Black */
@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-Black.otf')
  font-weight: 800
  font-style: normal

@font-face
  font-family: 'Source Sans Pro'
  src: url('/sites/kioskaalst.be/themes/kiosk_theme/sass-assets/scss/fonts/source-sans/SourceSansPro-BlackIt.otf')
  font-weight: 800
  font-style: italic