//@import "../../node_modules/node-bourbon/assets/stylesheets/css3/font-face";
@import "variables";

//@font-face {
//  font-family: 'MyFontAwesome';
//  src: url('font-awesome-4.2.0/fonts/fontawesome-webfont.eot');
//  src: url('font-awesome-4.2.0/fonts/fontawesome-webfont.woff'),
//  url('font-awesome-4.2.0/fonts/fontawesome-webfont.ttf'),
//  url('font-awesome-4.2.0/fonts/fontawesome-webfont.svg');
//  font-weight: normal;
//  font-style: normal;
//}

@mixin myfont($type, $pseudoLocation: before,
$position: relative, $color: inherit,
$size: 1em, $pad: .3em, $top: auto,
$left: auto, $bottom: auto, $right: auto)
{

  @if $pseudoLocation == before {
    position: relative;
    //padding-left: 20px;

    &:before{
      //content: "\f005";
      content: $type;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      /*--adjust as necessary--*/
      color: $color;
      font-size: $size;
      padding-right: $pad;
      position: $position;
      top: $top;
      left: $left;
      right: $right;
      bottom: $bottom;
    }

  }
  @else if $pseudoLocation == after {
    position: relative;
    //padding-right: 20px;

    &:after{
      //content: "\f005";
      content: $type;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      /*--adjust as necessary--*/
      color: $color;
      font-size: $size;
      padding-left: $pad;
      position: $position;
      top: $top;
      left: $left;
      right: $right;
      bottom: $bottom;
    }
  }

}
