/* ===========================
   Base
   =========================== */

body {
    font-family: $font3;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
//    position: relative;
    overflow: hidden;
    @include size(100%);
}

.container{
    width: 100%
}

a {
    color: $color-link;
    text-decoration: none;
    @include transition();

    &:hover {
        color: $color-link-hover;
    }
}

::-moz-selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $color1;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}